<body>
  <div class="dashboard">
    <h1>Sell Crypto</h1>
    <div *ngIf="user">
      <table class="crypto-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crypto of user.crypto">
            <td>{{ crypto.id }}</td>
            <td>{{ crypto.cryptoAmount | numberFormat }}</td>
            <td>
              <button (click)="openSellModal(crypto)">Sell</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>