<div class="container">
  <div class="dashboard">
    <h1><i class="fa-solid fa-money-bill-transfer"></i></h1>

    <h1>Sell Crypto</h1>
    <div *ngIf="user">
      <table class="crypto-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th style="text-align: right;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crypto of user.crypto">
            <td>{{ crypto.id }}</td>
            <td>{{ crypto.cryptoAmount | numberFormat }}</td>
            <td style="text-align: right;">
              <button (click)="openSellModal(crypto)">Sell</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>