<nav>
    <ul>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dashboard</a
        >
      </li>
      <li>
        <button (click)="openCardModal()">Credit Card</button>
      </li>
      <li>
        <a
          routerLink="/userProfile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Profile</a
        >
      </li>
      <li>
        <a
          routerLink="/buySell"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Buy/ Sell</a
        >
      </li>
      <li>
        <button (click)="logout()">Log Out</button>
      </li>
    </ul>
  </nav>