<body>
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <h2>Login</h2>
        <i class="fa-solid fa-right-to-bracket"></i>
      </div>
      <label>
        E-mail
        <input type="email" formControlName="email" />
      </label>
      <label>
        Password:
        <input type="password" formControlName="password" />
      </label>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</body>