<button class="exit" (click)="closeBuyModal()">X</button>
<form [formGroup]="buyForm" (ngSubmit)="onSubmit()">
  <p><b>{{ crypto.id }}</b></p>
  <label for="usd">USD </label>
  <input [(ngModel)]="usdAmount" name="usdAmount" [ngModelOptions]="{ standalone: true }" type="number" min="10"
    max="5000" />
  <p>Balance: ${{ userBalance | numberFormat }}</p>
  <p>Price: ${{ crypto.priceUsd | numberFormat }}</p>
  <label for="cryptoAmount">Amount:
    {{ (usdAmount | strToNum) / crypto.priceUsd | numberFormat }}</label>
  <br />
  <button type="submit">Buy</button>
</form>