<body>
  <form class="register" [formGroup]="signUpForm">
    <label>
      E-mail
      <input type="email" formControlName="email" />
    </label>
    <label>
      Password:
      <input
        type="password"
        formControlName="password"
        placeholder="min 8 Character(ENG)"
      />
    </label>
    <label>
      Confirm Password:
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="repeat password"
      />
    </label>
    <label>
      Nickname:
      <input type="text" formControlName="nickname" />
    </label>
    <div class="checkbox">
      <input type="checkbox" formControlName="checkbox" />
      I have read the agreement
    </div>
    <input
      type="submit"
      [disabled]="!signUpForm.valid"
      (click)="onSubmit()"
      class="submit"
    />
    <button (click)="resetForm()" class="reset">Reset</button>
  </form>
</body>
