<body>
  <div *ngIf="user">
    <i class="fa-regular fa-user"></i>
    <h1>User Profile</h1>
    <table>
      <tr class="head">
        <td></td>
        <td>Nickname:</td>
        <td>{{ user.nickname }}</td>
      </tr>
      <tr class="head">
        <td></td>
        <td>Balance:</td>
        <td class="num-font">{{ user.balance | numberFormat }} $</td>
      </tr>
      <tr class="head">
        <td></td>
        <td class="crypto"><i class="fa-brands fa-bitcoin"></i>Crypto</td>
        <td></td>
      </tr>
      <tr *ngFor="let crypto of user.crypto">
        <td></td>
        <td class="crypto-key">{{ crypto.id }}:</td>
        <td class="crypto-value num-font">{{ crypto.cryptoAmount | numberFormat }}</td>
      </tr>
    </table>
  </div>
</body>