.container {
  width: 100%;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(25, 0, 249, 0.25) 0px 54px 55px,
      rgba(25, 0, 255, 0.12) 0px -12px 30px, rgba(34, 0, 255, 0.12) 0px 4px 6px,
      rgba(17, 0, 255, 0.17) 0px 12px 13px,rgba(51, 0, 255, 0.199) 0px -3px 5px;
  h1{
    margin-top: 10px;
    font-weight: bold;

    font-weight: bold;
  }

  .fa-regular.fa-user {
    font-size: 60px;
    color: var(--primary-c);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    tr {
      border-bottom: 1px solid #e0e0e0;
      td {
        padding: 10px;
        font-size: 22px;
      }
      td:first-child {
        width: 20px;
      }
      td:nth-child(2) {
        font-weight: bold;
        padding-left: 10px;
      }
      .crypto{
        color: var(--primary-c);
      }
    }
  }

  .crypto-key {
    color: #000000;
    font-size: 18px;
  }

  .crypto-value {
    font-weight: bold;
    color: var(--primary-c);
    font-size: 18px;
  }
}
}