div {
  .home {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;

    img {
      max-width: 45%;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
    .get-started {
      max-width: 45%;
      div {
        h1 {
          font-size: 60px;
          font-weight: bold;
          line-height: 70px;
          margin-bottom: 20px;
        }
        p {
          font-size: large;
          font-weight: bold;

          margin-bottom: 50px;
        }
        a {
          padding: 20px 40px;
          background-color: var(--primary-c);
          text-decoration: none;
          color: white;
          font-weight: bold;
          border-radius: 10px;
          font-size: 20px;
          box-shadow: #00329e8c 5px 5px, #00247050 10px 10px,
            #00174737 15px 15px, #00103429 20px 20px;
        }
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
color: #343434;
      font-size: 24px;
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 768px) {
  img {
    display: none;
  }
  div .home .get-started div a {
    padding: 10px 20px;
    background-color: var(--primary-c);
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
  }
}
