body {
 
  .home {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 85px;

    .image {
      img {
        max-width: 80%;
        height: 80%;
        
      }
    }
    .get-started {
      div {
        margin-left: 20%;
        h1 {
          font-size: 60px;
          font-weight: bold;
          max-width: 70%;
          line-height: 70px;
          margin-bottom: 20px;
        }
        p {
          font-size: large;
          font-weight: bold;
          max-width: 80%;
          margin-bottom: 35px;
        }
        a {
          padding: 20px 40px;
          background-color: #014cec;
          text-decoration: none;
          color: white;
          font-weight: bold;
          border-radius: 10px;
          font-size: 20px;
          box-shadow: #00329e8c 5px 5px, #00247050 10px 10px,
            #00174737 15px 15px, #00103429 20px 20px;
        }
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #014cec;
      font-size: 30px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  img {
    display: none;
  }
}
