<div class="container">
    <div class="home">
        <div class="get-started">
            <div>
                <h1>Jump start your crypto portfolio</h1>
                <p>This page is the easiest place to buy and sell cryptocurrency. Sign up and get started today. Stay on
                    top of the markets with the app</p>
                <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Get Started</a>
            </div>
        </div>
            <img src="../../../../assets/images/home.png" alt="">
    </div>
    <div class="description">
        <h1>Buy, sell, and spend crypto on the world's most trusted crypto exchange</h1>
    </div>
</div>