$text-color: #014cec;

div {
  .dashboard {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
  }

  h1 {
    color: $text-color;
    font-size: 35px;
    font-weight: bold;
    i {
      color: #014cec;
    }
  }

  input[type="text"] {
    color: $text-color;
    border: 1px solid $text-color;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
  }

  .crypto-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid $text-color;
    }

    th {
      color: $text-color;
      font-size: 20px;
      font-weight: bolder;
    }

    td {
      color: black;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    button {
      background-color: $text-color;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    span {
      color: $text-color;
      font-size: 20px;
      font-weight: bold;
    }

    button:disabled {
      background-color: lighten($text-color, 30%);
      cursor: not-allowed;
    }

    button:first-child {
      margin-right: 10px;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;

    i {
      font-size: 20px;
    }

    &:hover {
      color: lighten($text-color, 20%);
    }
  }
}
