div {
  display: flex;
  width: 100%;
  .dashboard {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
    th,
    td {
      border-bottom: 2px solid var(--green-c);
    }
    .crypto-table {
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .search-bar {
      width: 30%;
      margin: 0 auto;
      height: 30px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 2px var(--green-c) solid;
    }

    h1 {
      font-size: 35px;
      font-weight: bolder;
      padding-bottom: 15px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    i {
      margin: 0 auto;
      font-size: 35px;
      margin-bottom: 10px;
      color: var(--green-c);
    }

    .crypto-table th {
      text-align: left;
      font-size: 18px;
      font-weight: bolder;
      margin-top: 20px;
      padding-bottom: 15px;
    }

    .crypto-table td {
      padding: 10px;
      font-size: 16px;
      font-weight: bolder;
    }

    .crypto-table .name {
      font-weight: bold;
    }

    .crypto-table .change {
      color: var(--green-c);
    }

    button {
      background-color: var(--green-c);
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .change {
    display: none;
  }
  .change-th {
    display: none;
  }
  h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  .crypto-table th {
    font-size: 10px;
  }

  .crypto-table td {
    font-size: 8px;
  }
  body .dashboard button {
    border: none;
    padding: 5px 10px;
  }
}
