<div class="container">
  <div class="dashboard">
    <h1>Buy Crypto <i class="fa-solid fa-cart-shopping"></i></h1>
    <table class="crypto-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th class="change-th">Change</th>
          <th style="text-align: right; padding-right: 8px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crypto of cryptoData">
          <td class="name">{{ crypto.name }}</td>
          <td>$ {{ crypto.priceUsd | numberFormat }}</td>
          <td class="change" [ngClass]="getChangeTextClass(crypto.changePercent24Hr)">
            {{ crypto.changePercent24Hr | numberFormat }} %</td>
          <td align="right"><button (click)="openBuyModal(crypto)">Buy</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>