<div class="container">
  <div class="dashboard">
    <i class="fa-solid fa-cart-shopping"></i>
    <h1>Buy Crypto</h1>
    <input type="text" [(ngModel)]="searchText" placeholder="Search Crypto" class="search-bar">
    <table class="crypto-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th class="change-th">Change</th>
          <th style="text-align: right; padding-right: 8px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crypto of filterCryptoData()">
          <td class="num-font name">{{ crypto.name }}</td>
          <td class="num-font " >$ {{ crypto.priceUsd | numberFormat }}</td>
          <td class="num-font change" [style.color]="
            crypto.changePercent24Hr >= 0 ? '#078807' : '#900000'">
            {{ crypto.changePercent24Hr | numberFormat }} %
          </td>
          <td  class="num-font " align="right"><button (click)="openBuyModal(crypto)">Buy</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>