form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
  
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      transition: border-color 0.3s;
    }
  
    input[type="text"]:focus {
      border-color: var(--primary-c)
    }
  
    .text-danger {
      color: #dc3545;
      font-size: 14px;
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: var(--primary-c);
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  
      &:hover {
        background-color: var(--primary-c);
      }
    }
  }